.linechart {
    background-image: linear-gradient(to bottom right, rgba(16, 17, 17, 0.171), rgb(244, 244, 248));
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  
    padding: 20px;
    display: inline-block;
    width: 40%;
    margin: 10px;
    
}

@media only screen and (max-width: 760px) {
 .linechart {
     width: 80%;
     margin:auto;
     margin: 10px 0px;
 } 
}